@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


/* Define a altura da barra horizontal */
.scrollbar-estilizada::-webkit-scrollbar {
  height: 8px;
}

/* O "trilho" por onde a barra corre (fundo) */
.scrollbar-estilizada::-webkit-scrollbar-track {
  background: #111827; /* gray-900 do Tailwind */
  border-radius: 8px;
}

/* A "alça" que o usuário puxa */
.scrollbar-estilizada::-webkit-scrollbar-thumb {
  background: #374151; /* gray-700 do Tailwind */
  border-radius: 8px;
}

/* Quando passa o mouse em cima da barra */
.scrollbar-estilizada::-webkit-scrollbar-thumb:hover {
  background: #4B5563; /* gray-600 do Tailwind */
}