@import "tailwindcss";




@theme "dark" {

    /* Cores */
    --Primary: #FFBF00;
    --Primary-selected: #FFCB2F;
    --Primary-off: #FFDFA0;
    --Primary-20: #D7A30A;


    --Text-gray: #E5E2E1;
    --Text-dark: #261A00;
    --Text-primary-off: #D4C5AB;


    --Page-background: #131313;
    --Widget-background: #1C1B1B;
    --Button-background: #353534;
    --Nav-bar-background: #131313;
    --Select-background: #2A2A2A;
    --Note-background: #0E0E0E;


    --Border: #504532;
    --Border2: #FFE2AB;


    --Negacion: #970909;
    --Negacion-off: #93000A;
    --Neutral-30: #131313;
    --Afirmation: #00B637;


    --White: #FFFFFF;
    --Gradient: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);



    /* amílias de Fonte */
  --Font-primary: 'Manrope', sans-serif;
  --Font-secondary: 'Inter', sans-serif;
}


